.shopping-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.arrows-icon {
  height: 40px;
  cursor: pointer;
}

.trash-icon {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: #ffffff;
  background-color: #ef4444;
  cursor: pointer;
}

.total-trash-container {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
}
