.containers {
  display: flex;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
  column-gap: 1rem;
  border-bottom-width: 1px;
  border-color: #e5e7eb;
  width: 100%;
  font-weight: 300;
  color: #6b7280;
}

.img {
  max-width: 200px;
}

.cart-item-container {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  width: 100%;
  min-height: 150px;
  background-color: white;
}

.text-cart-item {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 240px;
}

.text-cart-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.icon-containers {
  width: 100%;
}

.title-containers {
  margin-bottom: 15px;
  justify-content: space-between;
}

.delete-btn {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.btn-delete-cart-item {
  color: #6b7280;
  margin-left: 500px;
}

.btn-delete-cart-item:hover {
  color: #ef4444;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
    transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.prices {
  display: flex;
  column-gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 36px;
}

.remove-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.change-amount {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  border-width: 1px;
  height: 100%;
  font-weight: 500;
  max-width: 100px;
  color: #222222;
  gap: 24px;
}

.amount-value-change {
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.add-change {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.listed-price {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}

.total-amount {
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  color: #222222;
}
